*{
  box-sizing: border-box;
}
body{
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding:  0;
  margin: 0;
  background-color: hsl(240, 78%, 98%);
  position: relative;
  background-image: url('images/bg-top.svg');
  background-position:50vw -30px;
  background-repeat: no-repeat;
  background-attachment: unset;
}
header{
  padding-top: 30px;
  margin-bottom: 50px;
}
.w-100{
  width: 100%;
  margin-top: 20px;
}
.w-90{
  width: 90%;
}
.d-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.d-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.border-r-7{
  border-radius: 7px;
}
#professional{
  background-color: hsl(237, 63%, 64%);
  color: white;
}
#professional button{
  color: hsl(237, 63%, 64%);
}
#professional button:active{
  background-color: hsl(237, 63%, 64%);
  border: 1px solid white;
  color: white;
}
.details p{
  border-bottom: 1px solid gray;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
#professional .details p{
  border-bottom: 1px solid white;
}
button{
  border-radius: 7px;
  border-style: none;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}
#master, #basic{
  background-color: white;
}
#master button, #basic button{
  background-image: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}
#master button:active, #basic button:active{
  background-image: unset;
  background-color: white;
  border: 1px solid blue;
  color: blue;
}
main > section{
  margin-bottom: 30px;
  padding: 20px;
}
#master{
  margin-bottom: 0px;
}
.details > p:first-child{
  border-top:1px solid gray;
}
#professional .details > p:first-child{
  border-top:1px solid white;
}
.h3{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  vertical-align: middle;
}
span{
  font-size: 1.5em;
  padding: 2px;
  vertical-align: middle;
  font-weight: 700;
}
strong {
  font-size:2.5em;
  font-weight: 700;
}
.duration{
  margin: 20px;
  font-size: 1.5em;
}
/* Styling the switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}
input:checked + .slider {
  background-color: hsl(236, 72%, 79%);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* For larger screen sizes */
@media screen and (min-width: 900px){
  #article{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    #professional{
      height: 480px;
      width: 60vw;
      margin-top: 0;
      margin-bottom: 0;
      z-index: 1;
    }
    #master, #basic{
      width:60vw;
      margin-bottom: 0;
      margin-top: 0;
    }
    header{
      height: auto;
      padding-top: 10px;
    }
    main{
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    body{
      background-image: url('images/bg-top.svg'), url('images/bg-bottom.svg');
      background-position: top right, bottom left;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
} 